@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
}

.page-login-wrapper {
    flex-grow: 1;
}
