.Sidebar {
    display: flex;
    height: calc(100vh - var(--navbar-height));
    width: var(--side-bar-width);
    background: var(--inverted-bg-color);
    transition: width 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #000;
    border-left: none;
    position: sticky;
    top: 0;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    z-index: 1;
    position: absolute;
    right: 24px;
    bottom: 97px;
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--side-bar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }
}
