.ChatWrapper {
    display: flex;
    width: 100%;
}

.rightPart {
    display: flex;
}

.leftPart {
    display: block;
    width: 100%;
}

.Chat {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 100%;
    overflow: auto;
    padding: 20px;
    height: calc(100vh - var(--navbar-height) - 75px)
}

.textAreaWrapper {
    min-width: 300px;
    width: 0;
}

.messageForm {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(229, 229, 229, 0.25);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.58);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--inverted-primary-color);
}
