.Navbar {
    gap: 50px;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    top: 0;
    z-index: 1111111;
}

.mainLink {
    margin-right: 15px;
}
