.channel {
    display: flex;
    margin-bottom: 10px;
    width: var(--side-bar-width);
    height: 44px;
    transition: 0.4s margin-left;
}

.text {
    position: sticky;
    left: 85px;
    opacity: 1;
    color: var(--inverted-primary-color);
    transition: 0.2s opacity;
}

.imageWrapper {
    margin-right: 5px;
    margin-left: 30px;
}

.collapsed {
    width: var(--side-bar-width-collapsed);

    .text {
        position: fixed;
        opacity: 0;
    }

    .channel {
        margin-left: -14px;
        width: var(--side-bar-width-collapsed);
    }
}
